apiVersion: skaffold/v3
kind: Config
metadata:
  name: rain-cloud

build:
  local:
    concurrency: 0
    push: true
    useBuildkit: true
  artifacts:
  {{- range . }}
  - image: app-{{ .ID }}
    ko:
      flags:
        - -tags={{ .ID }}
      main: ./pkg/cmd/app
  {{- end }}
  - image: frontend
    context: nextcloud/neon
    docker:
      dockerfile: nextcloud/neon/packages/app/Dockerfile

deploy:
  kubeContext: k3d-rain-cloud-local
  helm:
    releases:
      - name: rain-cloud
        chartPath: helm/rain-cloud
        namespace: rain-cloud
        createNamespace: true
        setValueTemplates:
          {{- range . }}
          apps.{{ .ID }}.image: app-{{ .ID }}
          {{- end }}
          frontend.image: frontend
