//go:build app

package {{ .ID }}api

import (
	"github.com/go-chi/chi/v5"
	"github.com/provokateurin/rain-cloud/pkg/common"
)

func init() {
	common.RegisterApp("{{ .ID }}", func(router chi.Router) {
		var api {{ .InterfacePrefix }}Impl
		HandlerFromMux(NewStrictHandler(&api, nil), router)
	})
}
