package {{ .ID }}api

import (
	"github.com/go-chi/chi/v5"
	"github.com/provokateurin/rain-cloud/pkg/common"
)

type {{ .InterfacePrefix }}API struct{}

var _ StrictServerInterface = (*{{ .InterfacePrefix }}API)(nil)

type {{ .InterfacePrefix }}Registration struct {}

var _ common.RegistrationInterface = (*{{ .InterfacePrefix }}Registration)(nil)

func init() {
    var registration {{ .InterfacePrefix }}Registration
	common.RegisterApp("{{ .ID }}", registration, func(router chi.Router) {
		var api {{ .InterfacePrefix }}API
		HandlerFromMux(NewStrictHandler(&api, nil), router)
	})
}
