apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ "{{ include \"rain-cloud.fullname\" . }}" }}-backend
  labels:
     {{ "{{- include \"rain-cloud.labels\" . | nindent 4 }}" }}
spec:
  rules:
    - http:
        paths:
          {{- range $app := . }}
          {{- range $pathPrefix := .PathPrefixes }}
          - path: {{ $pathPrefix }}
            pathType: Prefix
            backend:
              service:
                name: {{ $app.KubernetesID }}
                port:
                  number: 8000
          {{- end }}
          {{- end }}
