apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ "{{ include \"rain-cloud.fullname\" . }}" }}-app-{{ .KubernetesID }}
  labels:
    {{ "{{- include \"rain-cloud.labels\" . | nindent 4 }}" }}
spec:
  selector:
    matchLabels:
      app: app-{{ .ID }}
      {{ "{{- include \"rain-cloud.selectorLabels\" . | nindent 6 }}" }}
  template:
    metadata:
      labels:
        app: app-{{ .ID }}
        {{ "{{- include \"rain-cloud.selectorLabels\" . | nindent 8 }}" }}
    spec:
      containers:
        - name: app-{{ .KubernetesID }}
          image: "{{ "{{ .Values.apps." }}{{ .ID }}{{ ".image }}" }}"
          ports:
            - containerPort: 8080

---

apiVersion: v1
kind: Service
metadata:
  name: app-{{ .KubernetesID }}
spec:
  selector:
    app: app-{{ .ID }}
  ports:
    - port: 8080
      targetPort: 8080
