[submodule "nextcloud/server"]
	path = nextcloud/server
	url = https://github.com/nextcloud/server
[submodule "nextcloud/neon"]
	path = nextcloud/neon
	url = https://github.com/provokateurin/nextcloud-neon
	branch = feature/web
